<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <UseLightSwitchWebDeploymentProvider>False</UseLightSwitchWebDeploymentProvider>
    <AuthenticationType>SharePoint</AuthenticationType>
    <RequiresIntrinsicDataSource>false</RequiresIntrinsicDataSource>
    <DeployDatabase>True</DeployDatabase>
    <LightSwitchPublishVersion>v1.8</LightSwitchPublishVersion>
    <PackageLocation>bin/Publish/TimesheetCapture.zip</PackageLocation>
    <CleanWPPAllFilesInSingleFolder>False</CleanWPPAllFilesInSingleFolder>
    <ExcludeGeneratedDebugSymbol>true</ExcludeGeneratedDebugSymbol>
    <DisableAllVSGeneratedMSDeployParameter>True</DisableAllVSGeneratedMSDeployParameter>
    <AutoParameterizationWebConfigConnectionStrings>True</AutoParameterizationWebConfigConnectionStrings>
    <WPPAllFilesInSingleFolder>../Bin/Release/app.publish/</WPPAllFilesInSingleFolder>
    <PackageSourceManifest>../Bin/Release/TimesheetCapture.xml</PackageSourceManifest>
    <ProjectParametersXMLFile>..//TimesheetCapture.Server/generated.parameters.xml</ProjectParametersXMLFile>
    <LightSwitchSqlScriptFile>../Bin/Release/TimesheetCapture.sql</LightSwitchSqlScriptFile>
  </PropertyGroup>
  <Target Name="BeforeBuild">
    <MSBuild Projects="../TimesheetCapture.ls3proj" Targets="BeforeLightSwitchPublishApplication" />
  </Target>
</Project>